/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$title-color-text: #000000;
$title-light-color-text: #ffffff;
$base-background-color: #ffffff;
$bright-background-color: #68b738;
$soft-background-color: #f2f2f2;
