/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$base-color-text: #444444;
$title-color-text: #000000;
$title-light-color-text: #ffffff;
$title-secondary-color-text: #222222;
$base-background-color: #ffffff;
$bright-background-color: #68b738;
$bright-opacity-background-color: rgba(104, 183, 56, 0.85);
$soft-background-color: #f2f2f2;
$tablet-width: 768px;
$desktop-width: 1440px;
