.action {
  padding: 10px 20px 49px;
}

.action__title {
  margin-top: 0;
  margin-bottom: 40px;

  @include font($secondary-font, 36px, 40px, 400, none, $title-color-text);
}

.action__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.action__item {
  display: flex;
  align-items: center;
  gap: 20px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.action__item--healthy::before {
  background-image: url("../../icons/stack.svg#action-leaf");
  background-size: 30px 32px;
}

.action__item--cooking::before {
  background-image: url("../../icons/stack.svg#action-cook");
  background-size: 26px 29px;
}

.action__item--meal::before {
  background-image: url("../../icons/stack.svg#action-eat");
  background-size: 25px 30px;
}

.action__item--time::before {
  background-image: url("../../icons/stack.svg#action-time");
  background-size: 27px 31px;
}

@media (min-width: $tablet-width) {
  .action {
    padding: 15px 30px 47px;

    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #e6e6e6;
  }

  .action__title {
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 60px;
  }

  .action__list {
    display: flex;
    flex-flow: row wrap;
    gap: 37px 137px;

    counter-reset: item-counter;
  }

  .action__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    position: relative;
    padding: 40px 0 57px;
    max-width: 245px;

    text-wrap: pretty;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      z-index: -1;
      left: 113px;
      top: 0;
      content: counter(item-counter);
      counter-increment: item-counter;

      @include font($secondary-font, 280px, 280px, 400, none, $soft-background-color);
    }
  }
}

@media (min-width: $desktop-width) {
  .action {
    padding: 31px 110px;

    border-bottom: none;
  }

  .action__list {
    gap: 20px 78px;
  }
}
