.addition-card {
  display: grid;
  grid-template-areas: "title" "properties" "button";
  gap: 14px;
  padding: 13px 0 18px;

  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.addition-card__link-title {
  grid-area: title;

  @include font($secondary-font, 16px, 16px, 400, uppercase, $title-secondary-color-text);
  text-decoration: none;
}

.addition-card__title {
  margin: 0;

  font: inherit;
}

.addition-card__properties {
  grid-area: properties;

  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 10px;
  margin: 0;

  line-height: 14px;
}

.addition-card__definition {
  justify-self: end;
  margin: 0;
}

.addition-card__term {
  margin: 0;
}

.addition-card__button {
  grid-area: button;

  display: block;
}

@media (min-width: $tablet-width) {
  .addition-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title properties" "button button";
    gap: 25px;
    padding: 26px 38px 27px;
  }

  .addition-card__link-title {
    font-size: 20px;
    line-height: 20px;
  }

  .addition-card__properties {
    grid-template-columns: auto auto;
    justify-content: end;
    gap: 10px 50px;

    font-size: 16px;
    line-height: 20px;
  }

  .addition-card__term {
    justify-self: end;
  }
}

@media (min-width: $desktop-width) {
  .addition-card {
    grid-template-columns: auto 285px 244px;
    grid-template-areas: "title properties button";
    align-items: baseline;
    gap: 40px;
    padding: 15px 0 16px;
  }

  .addition-card__properties {
    grid-template-columns: 135px 45px;
    justify-items: start;
    gap: 10px 105px;
  }

  .addition-card__term {
    justify-self: start;
  }

  .addition-card__definition {
    justify-self: start;
  }
}
