.addition-card {
  display: flex;
  flex-direction: column;
  padding: 13px 0 18px;

  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.addition-card__link-title {
  @include font($secondary-font, 16px, 16px, 400, uppercase, $title-secondary-color-text);
  text-decoration: none;
}

.addition-card__title {
  margin: 0;

  font: inherit;
}

.addition-card__properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  line-height: 14px;
}

.addition-card__button {
  display: block;
}
