.addition {
  padding: 25px 20px 20px;
}

.addition__title {
  margin: 0;
  margin-bottom: 35px;

  @include font($secondary-font, 24px, 24px, 400, none, $title-color-text);
}

.addition__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
