.benefits__wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;

  padding: 10px 20px;
}

.benefits__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .benefits__wrapper {
    padding: 0 30px 30px;
  }

  .benefits__list {
    gap: 30px;
  }
}


@media (min-width: $desktop-width) {
  .benefits__wrapper {
    padding: 82px 110px 40px;
  }

  .benefits__list {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 80px;
  }
}
