.button {
  padding: 10px;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $title-light-color-text;
  text-decoration: none;

  background-color: $bright-background-color;
  border: none;
}

.button--tall {
  padding: 15px;
}

.button--secondary {
  color: #444444;
  background-color: $soft-background-color;
}
