.card {
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-areas: "img title" "img properties" "button button";
  align-items: center;
  padding: 19px 20px 24px;

  border-bottom: 1px solid #ebebeb;

  &:first-child {
    border-top: 1px solid #ebebeb;
  }
}

.card__link-image {
  display: block;
  grid-area: img;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.card__image {
  display: block;
  width: 140px;
  height: 107px;
}

.card__link-title {
  grid-area: title;
  max-width: 76px;

  @include font($secondary-font, 16px, 20px, 400, uppercase, $title-secondary-color-text);
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.card__title {
  margin: 0;

  font: inherit;
}

.card__properties {
  grid-area: properties;
  align-self: center;
  margin: 0;

  font-size: 12px;
  line-height: 16px;
}

.card__property {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card__definition {
  margin: 0;
}

.card__button {
  grid-area: button;
  justify-self: stretch;
  margin-top: 18px;
}

.card--show-more {
  grid-template-areas: "title title" "description description" "button button";
  justify-items: center;
  padding-top: 25px;
}

.card--show-more .card__link-title {
  max-width: fit-content;
}

.card--show-more .card__title {
  padding-top: 55px;
  margin-bottom: 8px;

  text-align: center;

  background-image: url("../../icons/stack.svg#card-plus");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: top center;
}

.card__description {
  grid-area: description;
  margin: 0;

  font-size: 12px;
  line-height: 16px;
}

.card--show-more .card__button {
  margin-top: 21px;
}

@media (min-width: $tablet-width) {
  .card {
    min-width: 324px;
    grid-template-columns: auto;
    grid-template-areas: "img" "title" "properties" "button";
    justify-items: center;
    gap: 20px;
    padding: 11px 37px 40px;

    background-image: linear-gradient(to bottom, $base-background-color 81px, $soft-background-color 81px);
    border: none;

    &:first-child {
      border: none;
    }
  }

  .card__image {
    width: 200px;
    height: 210px;
  }

  .card__link-title {
    max-width: 140px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .card__button {
    margin-top: 7px;
  }

  .card__properties {
    justify-self: stretch;
    font-size: 16px;
    line-height: 20px;
  }

  .card__property {
    padding: 0 0 5px;
    margin-bottom: 6px;
    border-bottom: 1px solid #cdcdcd;
  }

  .card__description {
    margin: 0;

    font-size: 16px;
    line-height: 18px;
  }

  .card--show-more {
    margin-top: 80px;
    grid-template-areas: "title" "description" "button";
    gap: 0;
    place-items: end center;
    padding-top: 25px;

    background-color: $base-background-color;
    background-image: none;
    border: 2px solid $soft-background-color;
  }

  .card--show-more .card__link-title {
    max-width: 170px;
  }

  .card--show-more .card__title {
    padding-top: 110px;

    background-size: 60px 60px;
  }

  .card--show-more .card__description {
    max-width: 170px;
    align-self: center;

    text-align: center;
  }

  .card--show-more .card__button {
    margin-top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .card {
    gap: 12px;
    min-width: 245px;
  }

  .card__image {
    width: 169px;
    height: 210px;
  }

  .card__properties {
    margin-top: 10px;
  }

  .card__property {
    padding-bottom: 6px;
  }

  .card__button {
    margin-top: 18px;
  }
}
