.decor-title {
  position: relative;
  width: fit-content;
  padding-right: 40px;

  background-color: $base-background-color;
  box-shadow: -40px 0 0 0 $base-background-color;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 10px;
    right: 0;
    width: 100vw;
    height: 2px;

    background-color: $bright-background-color;
    box-shadow: 100vw 0 0 0 $bright-background-color;
  }
}

@media (min-width: $tablet-width) {
  .decor-title {
    padding-left: 40px;
    box-shadow: none;

    &::before {
      top: 14px;
    }
  }
}

@media (min-width: $desktop-width) {
  .decor-title {
    padding-left: 0;
    box-shadow: -40px 0 0 0 $base-background-color;

    &::before {
      top: 18px;
    }
  }
}
