.email-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.email-form__input {
  padding: 12px;

  @include font(inherit, 20px, 30px, 400, uppercase, inherit);

  border: 1px solid #cdcdcd;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-width: 2px;
    border-color: #444444;
  }
}

.email-form__input:user-invalid {
  border: 2px solid #ff8282;
}

@media (min-width: $tablet-width) {
  .email-form {
    flex-direction: row;
    gap: 10px 0;
  }

  .email-form__input {
    flex-grow: 1;
  }

  .email-form__button {
    width: 256px;
    flex-shrink: 0;
  }
}
