.example {
  padding: 25px 20px 40px;
}

.example--index {
  background-color: $soft-background-color;
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;

  @include font($secondary-font, 36px, 40px, 400, none, $title-color-text);
}

.example__description {
  margin-top: 0;
  margin-bottom: 20px;
}

.example__list {
  margin-top: 0;
  margin-bottom: 20px;
}

.example__price {
  margin: 0;
  margin-bottom: 20px;
}

.example__slider {
  margin: 0 auto;
}
