.hero {
  padding: 27px 20px 10px;

  @include font($secondary-font, 14px, 14px, 400, none, $title-light-color-text);
  text-align: center;
  background-image:
    linear-gradient($bright-opacity-background-color 302px, $base-background-color 302px),
    image-set(url("../../images/index-background-mobile@1x.jpg") type("image/jpg") 1x,
    url("../../images/index-background-mobile@2x.jpg") type("image/jpg") 2x);
  background-repeat: no-repeat;
  background-size: cover, auto 302px;
  background-position: 50% 0, 50% 0;
  background-color: linear-gradient($bright-opacity-background-color 302px, $base-background-color 302px);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.hero__slogan {
  margin-top: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.hero__image {
  display: block;
  margin: 0 auto 3px;
}

.hero__link {
  display: block;
  width: 280px;
  margin: 0 auto;
}
