.hero {
  padding: 27px 35px 10px;

  font-family: $secondary-font;
  color: $title-light-color-text;
  text-align: center;
  background-image: linear-gradient($bright-background-color 302px, $base-background-color 302px);
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
