.location--catalog {
  background-color: $soft-background-color;
}

.location__wrapper {
  padding: 26px 20px;
}

.location__slogan {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.location__address {
  font-style: normal;
  line-height: 20px;
}
