.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 56px;

  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  display: block;
  width: 33px;
  height: 38px;
}

.logo__text {
  display: block;
  width: 101px;
  height: 18px;
}

@media (min-width: $tablet-width) {
  .logo {
    gap: 13px;
  }

  .logo__image {
    width: 60px;
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    gap: 14px;
  }

  .logo__image {
    width: 70px;
    height: 59px;
  }

  .logo__text {
    width: 118px;
    height: 21px;
  }
}
