.main-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;

  @include font($primary-font, 16px, 20px, 400, none, $base-color-text);

  background-color: $soft-background-color;
}

.main-footer__logo {
  display: block;
  align-self: center;
}


.main-footer__logo-text {
  width: 128px;
  height: 24px;
}

.main-footer__copyright {
  display: block;
}

@media (min-width: 768px) {
  .main-footer {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
  }
}

@media (min-width: 768px) {
  .main-footer {
    padding: 66px 110px;
  }
}
