.promo {
  min-height: 290px;
  padding: 59px 60px 20px;

  color: $title-light-color-text;
  background-image:
    linear-gradient($bright-opacity-background-color, $bright-opacity-background-color),
    image-set(url("../../images/promo-background-mobile@1x.jpg") type("image/jpg") 1x,
    url("../../images/promo-background-mobile@2x.jpg") type("image/jpg") 2x);
  background-color: $bright-background-color;
  background-size: cover, auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.promo__slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    flex-shrink: 0;

    background-image: url("../../icons/stack.svg#promo-gift");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    min-height: 200px;
    padding: 57px 125px 60px 77px;
    background-image:
      linear-gradient($bright-opacity-background-color, $bright-opacity-background-color),
      image-set(url("../../images/promo-background-tablet@1x.jpg") type("image/jpg") 1x,
      url("../../images/promo-background-tablet@2x.jpg") type("image/jpg") 2x);
  }

  .promo__slogan {
    flex-direction: row;
    gap: 264px;

    text-align: left;

    &::before {
      width: 80px;
      height: 83px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 200px;
    padding: 55px 42px 43px;
    background-image:
      linear-gradient($bright-opacity-background-color, $bright-opacity-background-color),
      image-set(url("../../images/promo-background-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/promo-background-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/promo-background-desktop@1x.jpg") type("image/jpg") 1x,
      url("../../images/promo-background-desktop@2x.jpg") type("image/jpg") 2x);
    background-position: top;
  }

  .promo__slogan {
    flex-direction: column;
    gap: 46px;

    text-align: center;
  }
}
