.questionnaire__wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;

  padding: 27px 20px 32px;
}

.questionnaire__title {
  margin-top: 0;
  margin-bottom: 37px;
  padding: 0;

  @include font($secondary-font, 36px, 36px, 400, none, $title-color-text);
}
