.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result__term {
  font-size: 12px;
  line-height: 12px;
}

.result__definition {
  margin: 0;

  @include font($secondary-font, 24px, 24px, 400, none, $base-color-text);
}
