.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 29px;
}

.result__item {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.result__term {
  z-index: 1;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  place-self: self-end center;

  width: 70%;
  min-height: 24px;
  padding: 0 10px;

  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;

  background-color: #eaeaea;
}

.result__definition {
  grid-row: 1 / 3;
  grid-column: 1 / 2;

  margin: 0;
  padding: 14px 15px 16px;
  min-width: 124px;
  margin-bottom: 14px;

  @include font($secondary-font, 24px, 24px, 400, uppercase, $title-color-text);
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

@media (min-width: $tablet-width) {
  .result {
    gap: 42px;
  }

  .result__item {
    min-width: 162px;
    max-width: 40%;
  }

  .result__term {
    width: fit-content;
    max-width: 90%;

    font-size: 14px;
    line-height: 16px;

    background-color: $base-background-color;
  }

  .result__definition {
    min-width: 162px;

    font-size: 30px;
    line-height: 37px;
  }
}


@media (min-width: $desktop-width) {
  .result__term {
    background-color: $soft-background-color;
  }

  .result__definition {
    padding-bottom: 19px;
  }
}
