.site-list {
  @include font($secondary-font, 20px, 20px, 400, uppercase, $title-color-text);
  text-align: center;

  list-style-type: none;
  padding: 0;
}

.site-list__link {
  display: block;
  padding: 23px;
  border-top: 1px solid #e6e6e6;
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
