.slider-compare {
  position: relative;
}

.slider-compare__image {
  display: block;
  width: 280px;
  height: 256px;
  object-fit: cover;
}

.slider-compare__image--before {
  object-position: left;
}

.slider-compare__image--after {
  object-position: right;
}

.slider-compare__base {
  width: 50%;
}

.slider-compare__resize {
  position: absolute;
  top: 0;
  right: 0;

  width: 50%;
}

.slider-compare__button {
  position: absolute;
  top: 0;
  left: -2px;
  z-index: 1;

  display: block;
  padding: 0;
  width: 4px;
  height: 100%;

  background-color: #666666;
  border: none;
  border-radius: 2px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40px;
    height: 40px;

    border: 2px solid #666666;
    border-radius: 50%;
    background-color: $base-background-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 18px;

    background-color: #666666;
    mask-image: url("../../icons/stack.svg#slider-compare-button");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 18px;
  }
}

@media (min-width: 768px) {
  .slider-compare__image {
    width: 560px;
    height: 512px;
  }
}
