.social {
  padding: 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px 24px;

  list-style-type: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__link {
  display: block;
  min-width: 28px;
  min-height: 22px;

  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background-color: #666666;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &:hover,
  &:focus-visible {
    &::before {
      background-color: $bright-background-color;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      background-color: $bright-background-color;
    }
  }
}


.social__link--telegram {
  &::before {
    mask-image: url("../../icons/stack.svg#social-telegram");
  }
}

.social__link--vkontakte {
  &::before {
    mask-image: url("../../icons/stack.svg#social-vkontakte");
  }
}

.social__link--youtube {
  &::before {
    mask-image: url("../../icons/stack.svg#social-youtube");
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;

    border: none;
  }
}
